{
  "key_file": "/consul/config/privkey1.pem",
  "cert_file": "/consul/config/cert1.pem",
  "ca_file": "/consul/config/fullchain1.pem",
  "ports": {
    "http": 8501,
    "https": 8500
  },
  "verify_incoming": true,
  "verify_outgoing": true,
  "encrypt": "cg8StVXbQJ0gPvMd9o7yrg==",
  "enable_debug": true
}
